.WeatherChart
  .table tr td
    vertical-align middle !important

  &__Row td
    vertical-align middle
    display table-cell
    position relative

  &__MaxValue
    position absolute
    top 0
    right 10px
    font-size 8px

  &__MinValue
    position absolute
    bottom 5px
    left 10px
    font-size 8px

.DataAverage, .DataMaxMin, .CityData
  font-size 10px

.DataMin
  padding-left 5px

.CityName
  font-size 14px

.CityData
  margin-bottom 10px
